<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Фильмы</title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<script th:inline="javascript">
    function sendRating(stars) {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        root = /*[[@{/ratings/save(movie=${movie.id}, stars='')}]]*/
                $.ajax({
                    type: 'POST',
                    beforeSend: function (request) {
                        request.setRequestHeader(header, token);
                    },
                    url: root + stars,
                    success: function () {
                        console.log('success');
                    }
                });
    }
</script>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header" th:text="${movie.title}"></h1>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img th:src="${movie.posterUrl}" style="width: auto; height: 100%" src=""/>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">Год</div>
                        <div class="col-md-9" th:text="${movie.year}"></div>
                    </div>
                    <hr class="small-margin"/>
                    <div class="row">
                        <div class="col-md-3">Жанр</div>
                        <div class="col-md-9">
                            <th:block th:each="genre: ${movie.genres}">
                                <span th:text="${genre.genre} + ${genreStat.last?' ':',  '}"></span>
                            </th:block>
                        </div>
                    </div>
                    <hr class="small-margin"/>
                    <div class="row">
                        <div class="col-md-3">Актеры</div>
                        <div class="col-md-9">
                            <th:block th:each="actor: ${movie.actors}">
                                <span th:text="${actor.name} + ${actorStat.last?' ':',  '}"></span>
                            </th:block>
                        </div>
                    </div>
                    <hr class="small-margin"/>
                    <div class="row">
                        <div class="col-md-3">Сюжет</div>
                        <div class="col-md-9">
                            <div class="collapse-group">
                                <span><a data-toggle="collapse" data-target="#movie-plot">Показать/скрыть</a></span>

                                <div id="movie-plot" class="collapse" th:text="${movie.plot}"></div>
                            </div>
                        </div>
                    </div>
                    <hr class="small-margin"/>
                    <div class="row">
                        <div class="col-md-3">Ключевые слова</div>
                        <div class="col-md-9">
                            <div class="collapse-group">
                                <span><a data-toggle="collapse" data-target="#movie-keywords">Показать/скрыть</a></span>

                                <div id="movie-keywords" class="collapse">
                                    <th:block th:each="keyword: ${movie.keywords}">
                                        <span th:text="${keyword.word} + ${keywordStat.last?' ':',  '}"></span>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /#film-info -->
            </div>
        </div>
        <!-- /poster and film info -->

        <div th:if="${#authorization.expression('!hasRole(''ROLE_ANONYMOUS'')')}" class="row">
            <div class="col-md-4">
                <div class="demonstration" style="width:65%; margin:auto">
                    <span class="starRating">
                        <input id="rating5" type="radio" name="rating" value="5"/>
                        <label for="rating5">5</label>
                        <input id="rating4" type="radio" name="rating" value="4"/>
                        <label for="rating4">4</label>
                        <input id="rating3" type="radio" name="rating" value="3"/>
                        <label for="rating3">3</label>
                        <input id="rating2" type="radio" name="rating" value="2"/>
                        <label for="rating2">2</label>
                        <input id="rating1" type="radio" name="rating" value="1"/>
                        <label for="rating1">1</label>
                    </span>
                </div>
            </div>
        </div>
        <hr class="small-margin"/>
        <th:block th:if="${rating_points}!=null">
            <div class="row">
                <div class="col-md-12">
                    <h2>Оценки фильма</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="ratings-bar"></div>
                </div>
            </div>
        </th:block>

    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>
<th:block th:include="fragments/footer :: scripts_morris"/>

<script type="text/javascript" th:inline="javascript" th:if="${stars != null}">
    $(document).ready(function () {
        $('#rating' +/*[[${stars}]]*/).prop('checked', true);
    });
</script>
<script type="text/javascript" th:inline="javascript"
        th:if="${#authorization.expression('!hasRole(''ROLE_ANONYMOUS'')')}">
    $("input[name='rating']").each(function (index, value) {
        $(this).click(function () {
            sendRating($(this).val())
        });
    });
</script>
<script type="text/javascript" th:inline="javascript">
    /*[+
     var data = [[${rating_points}]]
     +]*/
    Morris.Bar({
        element: 'ratings-bar',
        data: data,
        xkey: 'x',
        ykeys: ['y'],
        labels: ['Количество'],
        hideHover: true
    });


</script>

</body>

</html>