<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Фильмы</title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Фильмы</h1>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!--@thymesVar id="movies" type="List<Movie>"-->
        <div class="row">
            <div class="row-same-height">
                <th:block th:each="movie, iterStat : ${movies}" th:if="${not #lists.isEmpty(movies)}">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center movie-panel-header">
                                <a th:text="${movie.title}"
                                   th:href="@{/movies/{id}(id=${movie.id})}"></a><br/>
                                <span th:text="' ('+${movie.year} +')'"></span>
                            </div>
                            <div class="panel-body text-center" style="height: 300px">
                                <img th:src="${movie.posterUrl}" style="width: auto; height: 100%" src=""/>
                            </div>
                            <div class="panel-footer text-center">
                                <th:block th:each="genre: ${movie.genres}">
                                    <span th:text="${genre.genre} + ${genreStat.last?' ':',  '}"></span>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </th:block>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav th:replace="fragments/pagination :: pagination(pages=${pages})"></nav>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>

</body>

</html>