<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="'Пользователь №'+${user.id}"></title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">

        <div class="row">
            <h1 class="page-header" th:text="'Пользователь №'+${user.id}"></h1>

            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">Возраст</div>
                        <div class="col-md-9" th:text="${user.age}"></div>
                    </div>
                    <hr class="small-margin"/>
                    <div class="row">
                        <div class="col-md-3">Пол</div>
                        <div class="col-md-9" th:text="${user.male}?'male':'female'"></div>
                    </div>
                    <hr class="small-margin"/>
                    <div class="row">
                        <div class="col-md-3">Деятельность</div>
                        <div class="col-md-9" th:text="${user.occupation}"></div>
                    </div>
                </div>
            </div>
            <hr class="small-margin"/>

            <div class="row">
                <div class="col-md-6 vcenter">
                    <h2>Оценки пользователя</h2>
                </div><!--
                --><div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                     class="col-md-6 vcenter text-right">
                    <a th:href="@{/predictions(userID=${user.id})}" role="button"
                            th:text="${recommendations != null ? 'Обновить рекомендации': 'Посчитать рекоммендации'}"
                            class="btn btn-primary"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="movies-ratings">
                            <table class="table table-fixed">
                                <thead>
                                <tr>
                                    <th class="col-xs-8">Фильм</th>
                                    <th class="col-xs-4">Оценка</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="movie_stars: ${movies_stars}">
                                    <tr>
                                        <td class="col-xs-8"><a th:href="@{/movies/}+${movie_stars.movieId}"
                                                                th:text="${movie_stars.movieTitle}"
                                                                target="_blank"></a>
                                        </td>
                                        <td class="col-xs-4" th:text="${movie_stars.stars}"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div id="ratings-bar"></div>
                    </div>
                </div>
            </div>
            <th:block th:if="${recommendations} != null">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Рекоммендации</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-group">
                            <th:block th:each="r: ${recommendations}">
                                <a class="list-group-item" th:href="@{/movies/}+${r.movie.id}"
                                   th:text="${r.movie.title}" target="_blank"></a>
                            </th:block>
                        </div>

                        <!--<div class="panel panel-default">-->
                        <!--<div>-->
                        <!--<table class="table">-->
                        <!--<thead>-->
                        <!--<tr>-->
                        <!--<th>Фильм</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<th:block th:each="r: ${recommendations}">-->
                        <!--<tr>-->
                        <!--<td><a th:href="@{/movies/}+${r.movie.id}"-->
                        <!--th:text="${r.movie.title}"></a></td>-->
                        <!--</tr>-->
                        <!--</th:block>-->
                        <!--</tbody>-->
                        <!--</table>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </th:block>

        </div>
    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>
<th:block th:include="fragments/footer :: scripts_morris"/>

<script type="text/javascript" th:inline="javascript">
    /*[+
     var data = [[${rating_points}]]
     +]*/
    Morris.Bar({
        element: 'ratings-bar',
        data: data,
        xkey: 'x',
        ykeys: ['y'],
        labels: ['Количество'],
        hideHover: true
    });
</script>


</body>

</html>