<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Пользователи</title>
    <th:block th:include="fragments/header::css"/>
    <style type="text/css">
        .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
            background-color: #2b57a2;
            color: #eeeeee;
            cursor: hand;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Пользователи</h1>
            </div>
            <!-- /.col-md-12 -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Возвраст</th>
                        <th>Пол</th>
                        <th>Род занятий</th>
                        <th>Оценил фильмов</th>
                        <th>Средняя оценка</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="userWithRatings: ${usersWithRatings}">
                        <tr th:onclick="'window.document.location=\''+@{{base}/{id}(base = ${#httpServletRequest.requestURL}, id=${userWithRatings.user.id})}+'\';'">
                            <td th:text="${userWithRatings.user.id}">John</td>
                            <td th:text="${userWithRatings.user.age}">Doe</td>
                            <td th:text="${userWithRatings.user.male}?'male':'female'">john@example.com</td>
                            <td th:text="${userWithRatings.user.occupation}"></td>
                            <td th:text="${userWithRatings.ratingsCount}"></td>
                            <td th:text="${#numbers.formatDecimal(userWithRatings.avgRating,1,2)}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav th:replace="fragments/pagination :: pagination(pages=${pages})"></nav>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>

</body>

</html>