<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Метрики</title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-10 vcenter">
                <h1 class="page-header">Метрики</h1>
            </div><!--
             --><div class="col-md-2 vcenter text-right" style="margin-top: 17px">
                <a th:href="@{/metrics/add}" role="button" class="btn btn-primary">Новый тест</a>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=${message.message})">
                &nbsp;</div>
        </th:block>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="list-group">
                    <th:block th:each="metric: ${metrics}">
                        <div class="list-group-item">
                            <p>
                            <h4 class="list-group-item-heading">ROC:
                                <a th:href="@{/users/__${metric.user.id}__}"
                                   th:text="'Пользователь №'+${metric.user.id}"
                                   target="_blank"></a>
                            </h4>
                            </p>
                            <table class="table" style="margin-bottom: 0"  th:object="${metric}">
                                <tr>
                                    <td><i class="fa fa-list"></i> Размер обущающей выборки</td>
                                    <td th:text="*{trainSetCount}"></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-list"></i> Размер тестовой выборки</td>
                                    <td th:text="*{testSetCount}"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table class="table" style="margin-bottom: 0" >
                                            <thead>
                                            <tr>
                                                <th><i class="fa fa-thumbs-up"></i> <b>T</b>rue <b>P</b>ositive
                                                    <b>R</b>ate
                                                </th>
                                                <th><i class="fa fa-thumbs-down"></i> <b>F</b>alse <b>P</b>ositive
                                                    <b>R</b>ate
                                                </th>
                                                <th>Порог</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="text-center" th:each="item, itemStat: ${metric.tpr}">
                                                <td  th:text="${#numbers.formatDecimal(metric.tpr[itemStat.index],1,2)}"></td>
                                                <td  th:text="${#numbers.formatDecimal(metric.fpr[itemStat.index],1,2)}"></td>
                                                <td  th:text="${#numbers.formatDecimal(metric.threshold[itemStat.index],1,2)}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>

</body>

</html>