<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Регистрация</title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header" th:text="Регистрация"></h1>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <div class="row text-center">
            <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
                <div th:replace="fragments/alert :: alert (type='danger', message='Форма содержит ошибки. Пожалуйста, попробуйте снова')">
                    Alert
                </div>
            </th:block>
            <div class="col-md-6 col-md-offset-3">
                <form class="form-narrow form-horizontal" method="post" th:action="@{/signup}"
                      th:object="${signupForm}">
                    <!--/* Show general error message when form contains errors */-->
                    <fieldset>
                        <div class="form-group" th:classappend="${#fields.hasErrors('login')}? 'has-error'">
                            <label for="login" class="col-md-4 control-label">Логин</label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" id="login" placeholder="Логин"
                                       th:field="*{login}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Incorrect login</span>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                            <label for="password" class="col-md-4 control-label">Пароль</label>

                            <div class="col-md-8">
                                <input type="password" class="form-control" id="password" placeholder="Пароль"
                                       th:field="*{password}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('password')}"
                                      th:errors="*{password}">Incorrect password</span>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('age')}? 'has-error'">
                            <label for="age" class="col-md-4 control-label">Возраст</label>

                            <div class="col-md-8">
                                <input type="number" class="form-control" id="age" placeholder="Возраст"
                                       th:field="*{age}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('age')}"
                                      th:errors="*{age}">Incorrect age</span>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('occupation')}? 'has-error'">
                            <label for="occupation" class="col-md-4 control-label">Деятельность</label>

                            <div class="col-md-8">
                                <select size="5" class="form-control" id="occupation" th:field="*{occupation}">
                                    <option th:value="technician">technician</option>
                                    <option th:value="writer">writer</option>
                                    <option th:value="administrator">administrator</option>
                                    <option th:value="artist">artist</option>
                                    <option th:value="doctor">doctor</option>
                                    <option th:value="educator">educator</option>
                                    <option th:value="engineer">engineer</option>
                                    <option th:value="entertainment">entertainment</option>
                                    <option th:value="executive">executive</option>
                                    <option th:value="healthcare">healthcare</option>
                                    <option th:value="homemaker">homemaker</option>
                                    <option th:value="lawyer">lawyer</option>
                                    <option th:value="librarian">librarian</option>
                                    <option th:value="marketing">marketing</option>
                                    <option th:value="programmer">programmer</option>
                                    <option th:value="retired">retired</option>
                                    <option th:value="salesman">salesman</option>
                                    <option th:value="scientist">scientist</option>
                                    <option th:value="student">student</option>
                                    <option th:value="technician">technician</option>
                                    <option th:value="writer">writer</option>
                                    <option th:value="other">other</option>
                                    <option th:value="none">none</option>


                                </select>
                                  <span class="help-block" th:if="${#fields.hasErrors('occupation')}"
                                        th:errors="*{occupation}">Incorrect occupation</span>
                                <!--<input type="" class="form-control" id="occupation" placeholder="Род деятельности"-->
                                <!--th:field="*{occupation}"/>-->

                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('male')}? 'has-error'">
                            <label for="male" class="col-md-4 control-label">Мужской пол? </label>

                            <div class="col-md-8">
                                <input type="checkbox" class="form-control" id="male" placeholder="Род деятельности"
                                       th:field="*{male}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('male')}"
                                      th:errors="*{male}">Incorrect gender</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <p>Уже есть учетная запись? <a href="signin" th:href="@{/signin}">Вход</a></p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>


    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>

</body>

</html>