<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Авторизация</title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header" th:text="Авторизация"></h1>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <div class="row text-center">
            <th:block th:if="${param.error != null}">
                <div th:replace="fragments/alert :: alert (type='danger', message='Ошибка при входе. Пожалуйста, попробуйте снова.')">
                    Alert
                </div>
            </th:block>
            <div class="col-sm-6 col-sm-offset-3">
                <form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/authenticate}">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputLogin" class="col-md-2 control-label">Логин</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputLogin" placeholder="Логин"
                                       name="username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-2 control-label">Пароль</label>

                            <div class="col-md-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Пароль"
                                       name="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-left">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="_spring_security_remember_me"/> Запомнить меня
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default">Войти</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <p>Впервые здесь? <a href="signup" th:href="@{/signup}">Зарегистрируйтесь</a></p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>

</body>

</html>