<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Рекомендательная система</title>

    <th:block th:include="fragments/header::css"/>


</head>

<body>

<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Добро пожаловать!</h1>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-film fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${movies}"></div>
                                <div>Новые фильмы!</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/movies}">
                        <div class="panel-footer">
                            <span class="pull-left">Каталог фильмов</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${users}"></div>
                                <div>Новые пользователи!</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/users}">
                        <div class="panel-footer">
                            <span class="pull-left">Каталог пользователей</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-star fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${ratings}"></div>
                                <div>Новые оценки!</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/ratings}">
                        <div class="panel-footer">
                            <span class="pull-left">Статистика по оценкам</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="/resources/images/collage.jpg" class="img-responsive" th:src="@{/resources/images/collage.jpg}"/>
            </div>
        </div>
    </div>

    <!-- /.row -->
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>
<th:block th:include="fragments/footer :: scripts_morris"/>
</body>

</html>
