<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="Рейтинги"></title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Рейтинги</h1>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <th:block th:include="fragments/stars_tabs::stars_tabs(active_tab=${stars})"/>
            </div>
        </div>
        <hr class="small-margin"/>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Доля по роду деятельности</div>
                    <div class="panel-body">
                        <div id="occupations-graph"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Доля по возрастам</div>
                    <div class="panel-body">
                        <div id="ages-graph"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Доля по полу</div>
                    <div class="panel-body">
                        <div id="genders-graph"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="small-margin"/>


    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>
<th:block th:include="fragments/footer :: scripts_morris"/>

<script type="text/javascript" th:inline="javascript">
    /*[+
     var occupations= [[${occupations}]]
     var ages = [[${ages}]]
     var genders = [[${genders}]]
     +]*/
    Morris.Donut({
        element: 'occupations-graph',
        data: occupations
    });
    Morris.Donut({
        element: 'ages-graph',
        data: ages
    });
    Morris.Donut({
        element: 'genders-graph',
        data: genders
    });
</script>


</body>

</html>