<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Поиск соседей</title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var timer = null;
    function buttonClick() {
        if ($('#button-start-correlation').attr('data-state') == "start") {
            launchTrigger();
        } else {
            stopTrigger();
        }
    }

    function launchTrigger() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/correlation/trigger(userID=${userID})}]]*/,
            success: function () {
                $('#neighbors').css('visibility', 'hidden');
                $('#current-progress').css('visibility', 'visible');
                $('#button-start-correlation').removeClass("btn-primary")
                        .addClass("btn-danger");
                $('#button-start-correlation').attr('data-state', "stop")
                        .text("Остановить");
                // $('#result').html('success');
            }
        });
        timer = setInterval(getCorrelationProgress, 1000);

    }

    function getCorrelationProgress() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/correlation/progress(userID=${userID})}]]*/,
            success: function (data) {
                // $('#progress').html(data);
                $('#progress-bar-correlation').attr("aria-valuenow", data)
                        .width(data + '%')
                        .text(data + '%');
                if (data >= 100) {
                    clearInterval(timer);
                    $('#button-start-correlation').removeClass("btn-primary")
                            .addClass("btn-success");
                    $('#button-start-correlation')
                            .attr("disabled", "disabled");
                    $('#button-start-correlation').text("Завершено!");
                    $('#neighbors').css('visibility', 'visible');
                    setTimeout(function() {
                        getNeighbors();
                    }, 1000);

                    $('#block-next-step').css('visibility', 'visible');
                }

            }
        });
    }

    function nextStep() {
        var url =
            /*[[@{__${#httpServletRequest.requestURL}__(userID=${userID},
             step=3)}]]*/
                $(location).attr('href', url);
    }

    function stopTrigger() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/correlation/stop(userID=${userID})}]]*/,
            success: function () {
                clearInterval(timer);
                $('#current-progress').css('visibility', 'hidden');
                $('#button-start-correlation').removeClass("btn-danger")
                        .addClass("btn-primary");
                $('#button-start-correlation').attr('data-state', "start")
                        .text("Начать поиск соседей");
            }
        })
    }

    function getNeighbors() {
        $.ajax({
            url: /*[[@{/correlations/top(userID=${userID})}]]*/,
            success: function (data) {
                data.map(function (item) {
                    //noinspection BadExpressionStatementJS
                    $('#table_neighbors > tbody').append('<tr>' +
                    '<td class=\"text-center\"><a href=' +
                        /*[[@{/users/}]]*/
                            .concat(item['user2'])
                    + '>' + item['user2'] + '</a></td>' +
                    '<td class=\"text-center\">' + item['correlation'] + '</td></tr>'
                    )
                });


            }
        });
    }
    /*]]>*/
</script>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <h1 th:text="'Пользователь №'+${userID}"></h1>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <th:block th:include="fragments/prediction::wizard(active_step=2)"/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="button-start-correlation" data-state="start"
                        type="button" class="btn btn-lg btn-primary"
                        onclick="buttonClick()">Начать поиск соседей
                </button>
                <br/>
                <br/>

                <div id="current-progress" class="progress" style="visibility: hidden">
                    <div id="progress-bar-correlation" class="progress-bar" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                        0%
                    </div>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <div id="block-next-step" class="row" style="visibility:hidden;">
            <div class="col-md-12 text-center">
                <button id="button-next-step" type="button"
                        class="btn btn-lg btn-primary" onclick="nextStep()">
                    Далее <i class="fa fa-chevron-circle-right"></i>
                </button>
            </div>
            <br/>
        </div>
        <div id="neighbors" style="visibility: hidden" class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered" id="table_neighbors" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="col-sm-3 text-center">Пользователь</th>
                        <th class="col-sm-3 text-center">Корреляция</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>


</body>

</html>