<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Просчёт рекомендаций</title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var timer = null;
    function buttonClick() {
        if ($('#button-start-boosted-prediction').attr('data-state') == "start") {
            launchTrigger();
        } else {
            stopTrigger();
        }
    }

    function launchTrigger() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/boosted_prediction/trigger(userID=${userID})}]]*/,
            success: function () {
                $('#current-progress').css('visibility', 'visible');
                $('#current-results').css('visibility','visible');
                $('#button-start-boosted-prediction').removeClass("btn-primary")
                        .addClass("btn-danger");
                $('#button-start-boosted-prediction').attr('data-state', "stop")
                        .text("Остановить");
                // $('#result').html('success');
            }
        });
        timer = setInterval(getBoostedPredictionProgress, 1000);
    }

    function stopTrigger() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/boosted_prediction/stop(userID=${userID})}]]*/,
            success: function () {
                clearInterval(timer);
                $('#current-progress').css('visibility', 'hidden');
                $('#current-results').css('visibility','hidden');
                $('#button-start-boosted-prediction').removeClass("btn-danger")
                        .addClass("btn-primary");
                $('#button-start-boosted-prediction').attr('data-state', "start")
                        .text("Начать просчёт рекомендаций");
            }
        })
    }

    function getBoostedPredictionProgress() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/boosted_prediction/progress(userID=${userID})}]]*/,
            success: function (data) {
                // $('#progress').html(data);
                $('#progress-bar-boosted-prediction').attr("aria-valuenow", data)
                        .width(data.progress + '%')
                        .text(data.progress + '%');
                $('#current-movie').text(data.movie);
                if (data.progress >= 100) {
                    clearInterval(timer);
                    $('#button-start-boosted-prediction').removeClass("btn-primary")
                            .addClass("btn-success");
                    $('#button-start-boosted-prediction')
                            .attr("disabled", "disabled");
                    $('#button-start-boosted-prediction').text("Завершено!");
                    $('#recommendations').css('visibility', 'visible');
                    setTimeout(function() {
                        getRecommendations();
                    }, 1000);
                }
            }
        });
    }

    function getRecommendations() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/recommendations(userID=${userID}, n=10)}]]*/,
            success: function (data) {
                data.map(function (item) {
                    //noinspection BadExpressionStatementJS
                    $('#table_recommendations > tbody').append('<tr>' +
                    '<td class=\"text-center\"><a href=' +
                        /*[[@{/movies/}]]*/
                            .concat(item.movie)
                    + '>' + item.movie + '</a></td>' +
                    '<td class=\"text-center\">' + item.boostedPrediction + '</td></tr>'
                    )
                });
            }
        });

    }

//    function getNeighbors() {
//        $.ajax({
//            url: /*[[@{/UserCorrelation/GetTopUserCorrelations(userID=${userID})}]]*/,
//            success: function (data) {
//                data.map(function (item) {
//                    //noinspection BadExpressionStatementJS
//                    $('#table_neighbors > tbody').append('<tr>' +
//                    '<td class=\"text-center\"><a href=' +
//                        /*[[@{/users/}]]*/
//                            .concat(item['user2'])
//                    + '>' + item['user2'] + '</a></td>' +
//                    '<td class=\"text-center\">' + item['correlation'] + '</td></tr>'
//                    )
//                });
//
//
//            }
//        });
//    }
     /*]]>*/
</script>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <h1 th:text="'Пользователь №'+${userID}"></h1>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <th:block th:include="fragments/prediction::wizard(active_step=3)"/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="button-start-boosted-prediction" type="button" data-state="start"
                        class="btn btn-lg btn-primary" onclick="buttonClick()">Начать просчёт рекомендаций
                </button>
                <br/>
                <br/>

                <div id="current-progress" class="progress" style="visibility: hidden">
                    <div id="progress-bar-boosted-prediction" class="progress-bar" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                        0%
                    </div>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <div id="current-results" class="row" style="visibility: hidden">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="col-sm-3 text-center">Фильм</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center" id="current-movie"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="recommendations" style="visibility: hidden" class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered" id="table_recommendations" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="col-sm-3 text-center">Фильм</th>
                        <th class="col-sm-3 text-center">Рекоммендация</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>


</body>

</html>