<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Анализ контента</title>
    <th:block th:include="fragments/header::css"/>

</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var timer = null;
    function buttonClick() {
        if ($('#button-start-content-prediction').attr('data-state') == "start") {
            launchTrigger();
        } else {
            stopTrigger();
        }
    }

    function launchTrigger() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/content_prediction/trigger}]]*/,
            success: function () {
                $('#current-progress').css('visibility', 'visible');
                $('#current-results').css('visibility', 'visible');
                $('#button-start-content-prediction').removeClass("btn-primary")
                        .addClass("btn-danger");
                $('#button-start-content-prediction').attr('data-state', "stop")
                        .text("Остановить");
                // $('#result').html('success');
            }
        });
        timer = setInterval(getCorrelationProgress, 1000);
    }

    function stopTrigger() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/content_prediction/stop}]]*/,
            success: function () {
                clearInterval(timer);
                $('#current-progress').css('visibility', 'hidden');
                $('#current-results').css('visibility', 'hidden');
                $('#button-start-content-prediction').removeClass("btn-danger")
                        .addClass("btn-primary");
                $('#button-start-content-prediction').attr('data-state', "start")
                        .text("Начать анализ контента");
            }
        })
    }

    function nextStep() {
        var url =
        /*[[@{__${#httpServletRequest.requestURL}__(userID=__${#httpServletRequest.getParameter('userID')}__,
        step=2)}]]*/
        $(location).attr('href', url);
    }

    function getCorrelationProgress() {
        $.ajax({
            url: /*[[@{__${#httpServletRequest.requestURL}__/content_prediction/progress}]]*/,
            success: function (data) {
                // $('#progress').html(data);
                $('#progress-bar-content-prediction').attr("aria-valuenow", data)
                        .width(data.progress + '%')
                        .text(data.progress + '%');
                $('#current-movie').text(data.movie);
                $('#current-user').text(data.user);
                if (data.progress >= 100) {
                    clearInterval(timer);
                    $('#button-start-content-prediction').removeClass("btn-primary")
                            .addClass("btn-success");
                    $('#button-start-content-prediction')
                            .attr("disabled", "disabled");
                    $('#button-start-content-prediction').text("Завершено!");
                    $('#block-next-step').css('visibility', 'visible');
                }

            }
        });
    }

    /*]]>*/
</script>
<div id="wrapper">
    <th:block th:include="fragments/header::navigation"/>
    <div id="page-wrapper">
        <div class="row">
            <h1 th:text="'Пользователь №'+${userID}"></h1>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <th:block th:include="fragments/prediction::wizard(active_step=1)"/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="button-start-content-prediction" data-state="start" type="button"
                        class="btn btn-lg btn-primary"
                        onclick="buttonClick()">Начать анализ контента
                </button>
            </div>
        </div>
        <br/>
        <br/>

        <div class="row">
            <div class="col-md-12">
                <!--<div id="result"></div>-->
                <!--<div id="progress"></div>-->
                <div id="current-progress" class="progress" style="visibility: hidden">
                    <div id="progress-bar-content-prediction" class="progress-bar" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                        0%
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-md-12 -->


        <div id="current-results" class="row" style="visibility: hidden">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="col-sm-3 text-center">Пользователь</th>
                        <th class="col-sm-3 text-center">Фильм</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center" id="current-user"></td>
                        <td class="text-center" id="current-movie"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="block-next-step" class="row" style="visibility:hidden;">
            <div class="col-md-12 text-center">
                <button id="button-next-step" type="button"
                        class="btn btn-lg btn-primary" onclick="nextStep()">
                    Далее <i class="fa fa-chevron-circle-right"></i>
                </button>
            </div>
        </div>


    </div>
    <!-- /#page-wrapper -->
    <th:block th:include="fragments/footer::copyright"/>
</div>
<!-- /#wrapper -->

<th:block th:include="fragments/footer :: scripts"/>


</body>

</html>