<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="css">
        <!-- Bootstrap Core CSS -->
        <link href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"
              rel="stylesheet"/>

        <!-- MetisMenu CSS -->
        <link href="../../../resources/css/metisMenu.min.css" th:href="@{/resources/css/metisMenu.min.css}"
              rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="../../../resources/css/sb-admin-2.css" th:href="@{/resources/css/sb-admin-2.css}" rel="stylesheet"/>

        <!-- Morris Charts CSS -->
        <link href="../../../resources/css/morris.css" th:href="@{/resources/css/morris.css}" rel="stylesheet"/>

        <!-- Custom Fonts -->
        <link href="../../../resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}"
              rel="stylesheet" type="text/css"/>

        <link href="../../../resources/css/slider.css" th:href="@{/resources/css/slider.css}"
              rel="stylesheet" type="text/css"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </th:block>

</head>
<body>
<!-- Navigation -->
<th:block th:fragment="navigation">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" title="Рекомендательная система">
                Рекомендательная система (beta)

            </a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                    <th:block
                            th:text="${#authentication.name=='anonymousUser'?' Учётная запись':#authentication.name}"/>
                    <i class="fa fa-caret-down"></i>
                </a>


                <ul class="dropdown-menu dropdown-user">
                    <th:block th:if="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
                        <li><a th:href="@{/signup}"><i class="fa fa-user-plus fa-fw"></i> Регистрация</a>
                        </li>
                        <li><a th:href="@{/signin}"><i class="fa fa-user fa-fw"></i> Вход</a>
                        </li>
                    </th:block>
                    <th:block th:if="${#authorization.expression('!hasRole(''ROLE_ANONYMOUS'')')}">
                        <li><a th:href="@{/users/}+${#authentication.name}"><i class="fa fa-user fa-fw"></i> Профиль</a>
                        </li>
                        <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                        <!--</li>-->
                        <li class="divider"></li>
                        <li>
                            <form id="logoutForm" th:action="@{/logout}" method="post">
                                <a class="dropdown-link" href="#"
                                   onclick="document.getElementById('logoutForm').submit();"><i
                                        class="fa fa-sign-out fa-fw"></i> Выход</a>
                            </form>
                        </li>
                    </th:block>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control"
                                   placeholder="Поиск..."/>
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a th:href="@{/index}" href="index.html"><i class="fa fa-home fa-fw"></i> Главная</a>
                    </li>
                    <li>
                        <a th:href="@{/movies}" href="movie.html"><i class="fa fa-film fa-fw"></i> Фильмы</a>
                    </li>
                    <li>
                        <a th:href="@{/users}" href="users.html"><i class="fa fa-users fa-fw"></i> Пользователи</a>
                    </li>
                    <li>
                        <a th:href="@{/ratings}" href="ratings.html"><i class="fa fa-star fa-fw"></i> Рейтинги</a>
                    </li>
                    <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <li>
                            <a th:href="@{/metrics}"><i class="fa fa-star-half-o fa-fw"></i> Метрики</a>
                        </li>
                    </th:block>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</th:block>
</body>
</html>