<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="pagination(pages)">
    <ul class="pagination">
        <li th:each="page: ${pages}"
            th:classappend="${!page.enabled ? 'disabled':'' + ' ' + page.active ? 'active':''}">
            <!--<a th:href="${page.enabled?@{__${#httpServletRequest.requestURI}__?page=${page.number}__}:'#'}" th:text="${page.text}"></a>-->
            <a th:href="${page.enabled}?@{${#httpServletRequest.requestURL}(page=${page.number})}:'#'" th:text="${page.text}"></a>
        </li>
    </ul>
</nav>
</body>
</html>