<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="stars_tabs(active_tab)">
    <ul class="nav nav-pills">
        <li role="presentation" th:class="${active_tab == 1 ? 'active':''}"><a th:href="@{/ratings/1}">1 звезда</a></li>
        <li role="presentation" th:class="${active_tab == 2 ? 'active':''}"><a th:href="@{/ratings/2}">2 звезды</a></li>
        <li role="presentation" th:class="${active_tab == 3 ? 'active':''}"><a th:href="@{/ratings/3}">3 звезды</a></li>
        <li role="presentation" th:class="${active_tab == 4 ? 'active':''}"><a th:href="@{/ratings/4}">4 звезды</a></li>
        <li role="presentation" th:class="${active_tab == 5 ? 'active':''}"><a th:href="@{/ratings/5}">5 звёзд</a></li>
    </ul>
</div>
</body>
</html>